<div class="main-container">
    <h2>Newest ToDos First</h2>
    <div class="todos-container">
        {{#each todosNewest}}
        <div class="single-todo">
            <p class="date">Date created: {{created}}</p>
            <div class="single-todo-container">
                <p>ToDo: {{title}} | </p>
                <p>Description: {{description}} | </p>

                <div class="todo-links">
                    {{#if done}}
                    <div class="fa-container">
                        <i class="fa fa-check"></i>
                    </div>
                    {{else}}
                    <div class="fa-container">
                        <i class="fa fa-close"></i>
                    </div>
                    {{/if}}
                    <form action="/todos/{{id}}/done" method="post">
                        <input class="todo-links-style" type="submit" value="Toggle doneness">
                    </form>
                    <a href="/todos/{{id}}/update"><button class="todo-links-style">Update Todo</button></a>
                    <a href="/todos/{{id}}/delete"><button class="todo-links-style">Delete Todo</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>